<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>康之味产品中心</title>
    <link href="../css/productCenter.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="product">
    <div class="content">
        <div class="inner clearfix">
            <div class="prev"><img src="../images/salt_prev_icon.png"></div>
            <div class="left">
                <div class="pic"><img src="../images/salt_max.png"></div>
            </div>
            <div class="right">
                <h1>热带美果系列</h1>
                <h2>MANGO JUICE</h2>
                <p><span>规格：500ml*15瓶； 300ml*24瓶</span><br>
                    采用原产地热带水果，与中国最大制罐企业奥瑞金达成战略合作，开创中国第一罐，锁住营养，确保新鲜。<br>
                    中国第一款天然电解质椰子水运动饮料，蕴含天然钾钠钙镁，能够帮助身体快速补水，恢复体能。</p>
            </div>
            <div class="next"><img src="../images/salt_next_icon.png"></div>
        </div>
        <div class="outward">
            <div class="pic">
                <img src="../images/salt_min1.png">
                <img src="../images/salt_min2.png">
                <img src="../images/salt_min3.png">
                <img src="../images/salt_min4.png">
            </div>
        </div>
    </div>
</div>
</body>
</html>