<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>康之味盐典专区</title>
    <link href="../css/saltCenter.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="salt">
    <div class="content">
        <div class="inner">
            <div class="title clearfix">
                <div class="pic"><img src="../images/salt_water.png"></div>
                <div class="text">
                    <h2>YANDIAN brand</h2>
                    <h1>盐典品牌</h1>
                    <p>康之味盐典产品由于能够快速补充人体因流汗而流失的多种微量元素，迅速恢复体能而得到畅销，
                        是深受消费者所喜爱的一款健康产品。是中国内地首次推出的一种全新概念的运动型饮料。
                        康之味，健康饮品专家！盐典，中国运动饮料！
                    </p>
                </div>
            </div>
            <div class="title lemon clearfix">
                <div class="text">
                    <h2>characteristics</h2>
                    <h1>产品特性</h1>
                    <p>盐典产品是康之味公司研发部潜心数年，是专门根据运动时人体生理消耗的特点而配制的，
                        可以有针对性地补充运动时丢失的营养，起到保持、提高运动能力，加速运动后疲劳消除的作用。
                        饮料中还添加了维生素B1 、
                        B2 和 C等让身体充满活力！
                    </p>
                </div>
                <div class="pic"><img src="../images/salt_lemon.png"></div>
            </div>
            <div class="title rice clearfix">
                <div class="pic"><img src="../images/salt_rice.png"></div>
                <div class="text">
                    <h2>Scientific basis</h2>
                    <h1>科学根据</h1>
                    <p>盐典运动饮料，科学添加维生素C、及纳、钾等无机盐、能迅速补充人体运动、工作或沐浴后所流失的多种微量元素。<br>
                        盐典：盐与健康活力，典藏最佳体能！
                    </p>
                </div>
            </div>
            <div class="title occasion clearfix">
                <div class="text">
                    <h2>occasions</h2>
                    <h1>饮用场合</h1>
                </div>
                <div class="drink">
                    <div class="photo"><img src="../images/salt_occasion1.png"></div>
                    <div class="text">在空调下工作，温度低，使水分和盐分加快流失，皮肤变得干燥。喝盐典，能补充电解质</div>
                </div>
                <div class="drink">
                    <div class="photo"><img src="../images/salt_occasion2.png"></div>
                    <div class="text">由于酒精有利尿作用，使体内水分及盐分流失更多，喝盐典，能快速补充电解质。</div>
                </div>
                <div class="drink">
                    <div class="photo"><img src="../images/salt_occasion3.png"></div>
                    <div class="text">高温或长时间沐浴，会使人体内水分和盐分大量流失。喝盐典，能够快速补充电解质。</div>
                </div>
                <div class="drink">
                    <div class="photo"><img src="../images/salt_occasion4.png"></div>
                    <div class="text">当人持续处于烈日及高温下，水分和盐分会大量流失。喝盐典，能够快速补充电解质</div>
                </div>
                <div class="drink">
                    <div class="photo"><img src="../images/salt_occasion5.png"></div>
                    <div class="text">在休息或睡觉时，体内的水分和盐分会透过呼吸及汗水流失。喝盐典，能够快速补充电解质。</div>
                </div>
                <div class="drink">
                    <div class="photo"><img src="../images/salt_occasion6.png"></div>
                    <div class="text">运动中大量汗水通过皮肤表面排出，水分和盐分流失严重。喝盐典，能够快速补充电解质。</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>